apiVersion: v1
kind: Service
metadata:
    name: static
spec:
    type: ClusterIP
    selector:
        app: blokmap
        environment: staging
        tier: static
        component: application
    ports:
      - protocol: TCP
        port: 80
        targetPort: 80
