apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: static-files
spec:
    storageClassName: manual
    accessModes:
        - ReadOnlyMany
        - ReadWriteMany
    resources:
        requests:
            storage: 50Gi
    selector:
        matchLabels:
            app: blokmap
            environment: staging
            tier: static
            component: volume
