apiVersion: v1
kind: Service
metadata:
    name: backend
spec:
    type: ClusterIP
    selector:
        app: blokmap
        environment: staging
        tier: backend
        component: application
    ports:
      - port: 80
        targetPort: 80
