apiVersion: v1
kind: PersistentVolume
metadata:
    name: static
    labels:
        app: blokmap
        environment: staging
        tier: static
        component: volume
spec:
    storageClassName: manual
    capacity:
        storage: 50Gi
    accessModes:
      - ReadOnlyMany
      - ReadWriteMany
    hostPath:
        path: "/home/tibo/blokmap-files"
